/* Reset básico */
body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Barra superior com contatos */
.top-bar {
  background-color: #6198fd;
  padding: 10px 20px;
  text-align: right;
  font-size: 14px;
  color: #333;
}

/* Menu de navegação */
.navbar {
 position:relative;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.logo img {
  height: 70px;
}

.inicio-link {
  list-style: none;
  gap: 50px;
  align-items: center;
  display: inline-block;
  padding: 20px 30px;
  background-color: white;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 6px;
}

.inicio-link:hover{
 transform: translateY(-2px);
  box-shadow: 0 6px 0 #48baf2;
}

.sobre-link{
    list-style: none;
  gap: 50px;
  align-items: center;
  display: inline-block;
  padding: 20px 30px;
  background-color: white;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 6px;
}

.sobre-link:hover{
     transform: translateY(-2px);
  box-shadow: 0 6px 0 #48baf2;
}

.oqfazemos-link{
     list-style: none;
  gap: 50px;
  align-items: center;
  display: inline-block;
  padding: 20px 30px;
  background-color: white;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 6px;
}
  
.oqfazemos-link:hover{
     transform: translateY(-2px);
  box-shadow: 0 6px 0 #48baf2;
}

.orcamentos-link{
    align-items: center;
  display: inline-block;
  padding: 20px 30px;
  background-color: white;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 6px;
}

.orcamentos-link:hover{
   transform: translateY(-2px);
  box-shadow: 0 6px 0 #48baf2;    
}

.duvidas-link{
       align-items: center;
  display: inline-block;
  padding: 20px 30px;
  background-color: white;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 6px;
}

.duvidas-link:hover{
       transform: translateY(-2px);
  box-shadow: 0 6px 0 #48baf2;  
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.btn-contato {
  padding: 10px 20px;
  border: 2px solid #0077b6;
  border-radius: 20px;
  color: #0077b6;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn-contato:hover {
  background-color: #0077b6;
  color: white;
}


.slider{
  margin: 0 auto;
  width: 800px;
  height: 400px;
  overflow: hidden;
}

.slides{
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 25%;
  position: relative;
}

.slide img{
  width: 800px;
}

.manual-navegation{
  position:absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn{
  background-color: transparent;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -25%;
}

#radio2:checked ~ .first{
  margin-left: -50%;
}

.navegation-auto div{
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}






